USE [DBTechZone]
GO
/****** Object:  StoredProcedure [dbo].[usp_SELECT_Marca_All]    Script Date: 30/3/2026 23:24:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_SELECT_Marca_All]
AS
BEGIN
    SELECT 
        IdMarca,
        Descripcion,
        Estado
    FROM Marca
END