USE [DBTechZone]
GO
/****** Object:  StoredProcedure [dbo].[usp_SELECT_Producto_All]    Script Date: 4/4/2026 15:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_SELECT_Producto_All]
 AS 
-- Stored Procedured Generado por SQLTool Box, https://github.com/lateraluz 
-- Version: 4.2.0.0 
 -- Fecha: 4/4/2026 15:58:21 
 	Select IdProducto ,CodigoIndustria ,IdTipoDispositivo ,IdModelo ,IdMarca ,Color ,Caracteristicas ,Extras ,CantidadStock ,Estado ,DocumentoEspecificaciones ,Nombre ,Foto ,PrecioColones ,PrecioDolares  from Producto