USE [DBTechZone]
GO
/****** Object:  StoredProcedure [dbo].[usp_SELECT_Cliente_All]    Script Date: 4/4/2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_SELECT_Cliente_All]
 AS 
-- Stored Procedured Generado por SQLTool Box, https://github.com/lateraluz 
-- Version: 4.2.0.0 
 -- Fecha: 28/3/2026 22:35:52 
 	Select IdCliente ,IdTipoIdentificacion ,Identificacion ,Nombre ,Apellidos ,Sexo ,Telefono ,Correo ,DireccionExacta ,Provincia ,Estado ,Fotografia  from Cliente