USE [DBTechZone]
GO
/****** Object:  StoredProcedure [dbo].[usp_SELECT_Modelo_All]    Script Date: 31/3/2026 20:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE usp_SELECT_Modelo_All
AS
BEGIN
    SELECT 
        IdModelo,
        Descripcion,
        Estado
    FROM Modelo
END