USE [DBTechZone]
GO
/****** Object:  StoredProcedure [dbo].[usp_SELECT_TipoDispositivo_ByID]    Script Date: 3/4/2026 20:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_SELECT_TipoDispositivo_ByID] 
(@IdTipoDispositivo int)
AS 
-- Stored Procedured Generado por SQLTool Box, https://github.com/lateraluz 
-- Version: 4.2.0.0 
 -- Fecha: 3/4/2026 20:48:09 
 	Select IdTipoDispositivo, Descripcion ,Estado  from TipoDispositivo
	Where (IdTipoDispositivo =  @IdTipoDispositivo)