USE [DBTechZone]
GO
/****** Object:  StoredProcedure [dbo].[usp_SELECT_TipoDispositivo_All]    Script Date: 3/4/2026 20:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_SELECT_TipoDispositivo_All]
 AS 
-- Stored Procedured Generado por SQLTool Box, https://github.com/lateraluz 
-- Version: 4.2.0.0 
 -- Fecha: 3/4/2026 20:48:09 
 	Select IdTipoDispositivo, Descripcion ,Estado  from TipoDispositivo